*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradle.properties
app/libs/
app/src/main/res/drawable/
data/libs/
data/src/main/res/drawable/
domain/libs/