# Make sure you copy the contents of this file (gradle.properties.dist) into gradle.properties
# then replace the items in square brackets with their proper values
FABRIC_API_KEY = [Fabric-key-here]

# Feel free to replace these values with empty strings just to get the project working.
# You don't need these to be filled out until release time.
RELEASE_STORE_FILE = [Release-keystore-path]
RELEASE_KEY_ALIAS = [Release-keystore-alias]
RELEASE_STORE_PASSWORD = [Release-keystore-password]
RELEASE_KEY_PASSWORD = [Release-key-password]